.GameMode {
  position: relative;
  h2 {
    margin-bottom: 17.5px;
    color: #C9302C;
  }
  .flex-title {
    display: flex;
    justify-content: center;
  }

  .GameMode-title {
    color: #C9302C;
  }

  .user-profile-bttn {
    position: absolute;
    top: 24px;
    left: 0px;
  }

  .vertical-align-online {
    // margin-top: 27.2%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 76px);
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



.button-container {
  margin-top: 20px;
  margin-bottom: 10px;
  // width: 50%;
}

.flex-buttons {
  display: flex;
  justify-content: space-between;
}

