.LeaderBoard {
  .flex-header {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .flex-panel {
    display: flex;
    flex-direction: row;
  }

  .flex-user {
    margin-right: auto;
  }

  .flex-wins {
    margin-right: 32.5%;
  }

  .header-wins {
    margin-left: auto;
  }

  .header-percent {
    margin-left: auto;
  }
}
