.OnlineMatches {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .flex-header {
    display: flex;
    justify-content: start;
  }

  .match {
    margin-right: auto;
    font-size: 16px;
  }

  .challenger {
    margin-right: auto;
    font-size: 16px;
  }
}

.flex-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


