.BattleBot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .health-bar {
    align-self: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .health-color {
    background: #C9302C;
  }

  .small-picture-right {
    position: absolute;
    height: 50px;
    width: 50px;
    top: -40px;
    right: 22%;
    border-radius: 10px;
    z-index: 5;
    box-shadow: -7px 7px 5px rgba(0, 0, 0, 0.7);
  }

  .small-picture-left {
    position: absolute;
    height: 50px;
    width: 50px;
    top: -40px;
    left: 22%;
    border-radius: 10px;
    z-index: 5;
  }

  .debuffs {
    background-color: rgb(87, 37, 83);
    color: rgb(175, 175, 175);
    height: 150px;
    width: 50%;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  }

  img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow:  7px 7px 5px rgba(0,0,0,0.7);
  }
}

.special-bar {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: center;


    .special-bar-individual {
      padding-left: 0px;
      padding-right: 0px;
    }

    .special-bar-color {
      background: rgb(230, 230, 28);
    }
}

.robot-image {
  align-self: center;
}