.Home {
  h1 {
    color: whitesmoke;
    font-style: italic;
  }
}

.home-container {
  margin-top: 4%;
}

.joinFight {
  background-image: url('../../img/joinFight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.enterFray {
  background-image: url('../../img/enterFray.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.vertical-align {
  padding-top: 200px;

  button {
    font-size: 20px;
  }
}

h1 {
  padding-bottom: 10px;
}