.modal-row {
  position: relative;
  // height: 100%;
}

.registerImg {
  background-image: url('./registerImg.jpg');
  height: 100%;
  position: absolute;
  top: 0;
  left: 15px;
}

.register-form {
  margin-left: 50.5%;
}