.LargeBot {
  img {
    height: 150px;
    width: 150px;
  }
}

.info {
  display: inline-block;
}

.flex-center {
  display: flex;
  justify-content: center;
}


.btn-margin-top {
  margin-top: 10px;
}